@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamProLight.ttf') format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamProRegular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamProMedium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamProBold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamProBlack.ttf') format("truetype");
    font-weight: 900;
}